{{#if category.products}}
    <div class="category-toolbar container">
        <div class="category-toolbar__left">
            <div class="category-toolbar__count">
                <span id="product-count">{{category.products.length}}</span> results
            </div>
            <div class="category-toolbar__separator">-</div>
            <div class="category-toolbar__sort">
                {{> components/products/filter sort=pagination.category.sort}}
            </div>
        </div>
        <div class="category-toolbar__right">
            <div class="category-toolbar__view-toggle">
                {{> components/custom/category-view-toggle type='grid'}}
            </div>
        </div>
    </div>
    
    <form action="{{urls.compare}}" method='POST' {{#if settings.data_tag_enabled}} data-list-name="Category: {{category.name}}" {{/if}} data-product-compare>
            {{#if settings.data_tag_enabled}}
                {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings event="list" }}
            {{else}}
                {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
            {{/if}}
    </form>

    {{> components/common/paginator
        pagination.category
        page_type=page_type
        show_dropdown=theme_settings.its.paginator_dropdown
        paginator_dropdown_page_count=(ceil (divide category.total_products theme_settings.categorypage_products_per_page))
    }}
{{else}}
    <!-- <span role="text" tabindex="0" class="category__no-products">{{!lang 'categories.no_products'}}</span> -->
{{/if}}
